

# 基础配置

APP_PORT=4000
JWT_SECRET=your-jwt-secret-key-here
COOKIE_SECRET=your-cookie-secret-key-here



# 前端 URL（用于登录成功后重定向）
FRONTEND_URL=http://localhost:5173




DEV_DRIZZLE_OUT=src/server/drizzle/dev
DEV_DRIZZLE_SCHEMA=src/server/src/db/schema/index.ts

# DB_USER=app_user
# DB_PASSWORD=app_pass
# DB_HOST=localhost
# DB_PORT=7755
# DB_NAME=buy_db